@page "/test"

<div class="height: 100%; width: 100% padding: 5%;">
	<embed type="text/html" src="https://technioniit.eu.qualtrics.com/jfe/form/SV_9tNRgHch6MeQUPc" style="width: 100%; height: 100%" />
</div>