@inherits LayoutComponentBase

<main>
    @if (CurrentPlayer == null)
    {
        <h3>Loading game...</h3>
    }
    else 
    {
        <CascadingValue Value="CurrentPlayer">
            @Body
        </CascadingValue>
    }
</main>

@if (IsRtl)
{
    <style>
        p, button, label, textarea {
            direction: rtl !important;
        }
    </style>
}
